<h1>Search for Resources</h1>
<div class="step">
  <div class="step_off" onclick='document.location="<%=  search_start_path  %>"'>
    Step 1. Please select an illness or disease: <span id="selected_disease" class="answer"><%= @search.disease.name %></span>
  </div>
</div>

<div class="step">
  <div class="step_off" onclick='document.location="<%= search_step2_path(@search) %>"'>Step 2: How are you affected? <span class="answer"><%= @search.how_affected %></span></div>
</div>

<div class="step">
  <div class="step_off" onclick='document.location="<%=  search_step3_path(@search) %>"'>Step 3: Where are you located? <span class="answer"><%= @search.location %> <%= @search.zipcode if !@search.zipcode.nil? %></span></div>
</div>

<div class="signup">
  <a href="#join_form" rel="facebox">Would you like to join HelpIsHere?</a>
</div>

