<% content_for :head do %>  
  <link rel="stylesheet" type="text/css" href="/stylesheets/search/default.css" id="default"  />
  <!-- dummy stylesheet - href to be swapped -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/search/dummy.css" id="dummy_css"  />
  <%= stylesheet_link_tag 'resources' %>
  <%= javascript_include_tag 'applesearch.js', 'json.js' %>
  <%= javascript_tag "window.AUTH_TOKEN = '#{form_authenticity_token}';" %>

  <% if (@current_user.resources.count > 0 && !@map.nil?) %>
    <%= GMap.header(:host => request.host) %>
    <%= @map.to_html %>
  <% end %>
<% end %>

<div style="padding:5px">
  <table border="0" width="100%">
    <tr>
      <td>
        <h1><%= "#{pluralize(@current_profile.resources.count,'Resource')} for #{@current_profile.name}" %></h1>
      </td>
      <td align="right">
        <form id="searchform" action="index.html">
          <fieldset>
            <label for="query">Search Resources</label>
            <input type="text" name="query" id="query" value="" />
            <input type="submit" name="submitquery" id="submitquery" value="Go" />
          </fieldset>
        </form>
      </td>
    </tr>
  </table>
</div>


<table border="0" cellpadding="0" width="100%" cellspacing="0">
  <tr>
    <td valign="top" width="410">
      <!-- SIDE CONTACT LIST -->
      <div style="position:relative;padding:0px;margin:0px;width:400px;">
        <div style="overflow:auto;height:600px;margin:0px;font-size:10pt;padding-left:0px;border:1px solid gray;">
          <div class="row" style="font-size:8pt;padding:5px;border-bottom:1px solid gray;width:390px;background:#F7DA73">
            <div class="left">
              <a href="#" id="toggle_filter">Filter by Category</a>
            </div>
            <div clas="right" style="text-align:right;">
              <b>Group by:</b>
              <a href="#" id="group_cat">By Category</a>&nbsp;
              <a href="#" id="group_alpha">Alphabetically</a>
            </div>
          </div>


          <div align="center" id="alpha_selector" style="display:none;font-size:8pt;padding:2px;border-bottom:1px solid gray;">
            <% ('A'..'Z').each  do |c| %>
              <% if(@letters.include?(c)) %>
                <a href="#" class="alpha_letter" rel="<%= c %>" style="font-size:12pt"><%= c %></a>
              <% else %>
                <%= c %>
              <% end %>
            <% end %>
          </div>

          <div style="padding:10px;border-bottom:1px solid gray" id="filter">
            <div class="row">
              <div class="left">
                <b>Categories</b>&nbsp;
              </div>
              <div class="right">
                <%= image_tag 'spinner.gif', :id => "cat_spin", :style => "display:none" %>
              </div>
            </div>
            <span style="font-size:8pt">
              <a rel="group_1" href="#select_all">Select All</a>&nbsp;|&nbsp;
              <a rel="group_1" href="#select_none">Select None</a>
            </span>
            <div id="group_1" style="font-size:8pt;">
              <%= render :partial => "resource_category_filter" %>
            </div>
          </div>

          <div id="contact_list">
            <% if !@groups.nil? %>
              <div style="background:#AAAAAA;font-weight:bold;padding-left:4px;border-bottom:1px solid gray" id="all">All</div>
              <div id="contact_groups">
                <%= render :partial => 'resource_groups', :locals => {:groups => @groups}  %>
              </div>
            <% end %>
          </div>
        </div>

        <div id="add_resource" style="border-top:1px solid black;color:white;font-weight:bold;padding:3px;background:gray;position: absolute; bottom: 0; left: 0; width: 394px;">
          + Add New Resource
        </div>
      </div>
    </td>
    <td valign="top" align="left">
      <div id="contact_content">
        <% if(@resource) %>
          <%= render :partial => "one_resource",  :locals => {:gmap => @gmap, :resource => @resource} %>
        <% end %>
      </div>

      <div id="new_resource">
        <center>
          <% form_tag resource_new_path, :method => 'get', :id => "sForm"  do %>
            Enter Resource Name or Category: <%= text_field_tag :s, nil, { :class => "text ui-large", :size => "20"} %>
            <%= submit_tag "Find Resource", :name => nil, :class => "ui-large"  %>
          <% end %>
        </center>
        <div id="spinner" style="text-align:center;margin:20px;display:none;">
          <%= image_tag 'spinner.gif' %>
        </div>
        <div id="yList" style="margin-top:15px;border-top:solid 1px gray;display:none;">
          <p><em>Select resource from the list below</em></p>
          <ul id="sOut"></ul>
          <p style="border-top:dashed 1px gray">
            <b><%= link_to "+ Add a resource not listed above" %></b>
          </p>
        </div>
      </div>


      <div id="gMap" style="border:solid 1px gray;width:90%;margin:0px 15px">
        <%= @map.div(:width => "100%", :height => 600) %>
      </div>



    </td>
  </tr>
</table>


<a href="#details" id="show_details" rel="facebox" style="display:none"></a>
<div id="details" style="width:600px;text-align:left;display:none">
  <p><span class="resource_title"></span> has never been associated with <%= @current_profile.disease.name %>.
  Please take a moment to provide some more details for others who view this resource later.</p>
  <div class="errorExplanation" style="display:none">
    <h4>There are serious errors in your form submission, please see below for details.</h4>
    <ol>

    </ol>
  </div>
  <% form_for :resource, :url => '/resource/remote/add_resource', :html => {:id => "form_details"}  do |f| %>
    <input type="hidden" id="listing" name="listing" value=""/>
    <fieldset class="steps">
      <div>
        Who pays for the services provided by <span class="resource_title"></span>?
        <div style="text-align:center;margin-top:10px">
          <%= f.select :who_pays, ["You do", "They do", "Insurance", "Government", "Various Charities", "No Cost", "Other"], {:include_blank => true}, {:class => "ui-large", :style => "font-size:16pt"} %>
        </div>
      </div>
      <div>
        What type of services does <span class="resource_title"></span> provide?
        <div style="font-weight:normal">
          <% i = 0 %>
          <table>
            <tr>
              <% for category in @categories do %>
                  <% if(i==0) %>
                    <td valign='top'>
                    <% end %>
                    <% i = i+1 %>

                    <%= check_box_tag "resource[category_ids][]", category.id%>
                    <label rel="checkit"><%= category.title %></label><br>
                    <% if(i==8) %>
                    </td>
                    <% i=0 %>
                  <% end %>
                <% end %>
                <%= "</td>" if (i<8) %>
              </tr>
            </table>
          </div>
        </div>
        <div class="submit">
          <%= submit_tag  'Submit', :class => "ui-large" %>
        </div>
      </fieldset>
    <% end %>
  </div>

  <a href="#experience" id="show_experience" rel="facebox" style="display:none"></a>
  <div id="experience" style="width:600px;text-align:left;display:none">
    <h2>Your Experience With <span class="resource_title"></span></h2>
    <p>HelpIsHere members <b>depend</b> on the experiences of others to make informed decisions.</p>
    <p>Please take a quick moment to describe any specific information or experiences about <span class="resource_title"></span>,
    such as specific people to talk to, what to ask for or what to avoid.</p>
    <div class="errorExplanation" style="display:none">
      <h4>There are serious errors in your form submission, please see below for details.</h4>
      <ol>

      </ol>
    </div>

    <% form_for :experience, :url => '/resource/remote/add_experience', :html => {:id => "form_experience"}  do |f| %>
      <%= hidden_field "experience","user_id", {:value => @current_user.id} %>
      <%= hidden_field "experience", "resource_id", {:value => "" } %>
      <%= f.text_area :comment, :rows => "10", :cols => "70"  %>
      <div class="row">
        <div class="left" style="padding:5px;">
          <a href="#" id="hl_skip" rel="" style="font-size:10pt">Skip this step</a>
        </div>
        <div class="right">
          <div class="submit">
            <%= submit_tag  'Submit', :class => "ui-large"%><br><br>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <script language="javascript">
    $(document).ready(function(){
      // show hide map div?
  <% if(@resource) %>
        content_toggle('#contact_content');
  <% elsif(params[:add]) %>
        content_toggle('#new_resource');
        $("#s").attr('value','').focus();
  <% else %>
        content_toggle('#gMap');
  <% end %>
     
    })
  </script>