<center>
  <div style="width:600px;text-align:left">
    <h1>Add Resource - Your Experiences</h1>
    <h2><%= "#{@resource.listing.title} <span style='color:black'>+</span> #{@current_profile.disease.name}" %></h2>

    <p>Please briefly share an experience (good or bad) that you have had with <%= @resource.listing.title %> that
    you feel others would benefit from knowing.</p>
    <p>Examples of the best types of experiences include <em>tips for navigating this resource to get what you need,
        why this resource should be used or avoided, who to speak to and what to mention, potential pitfalls, importance
    of the resource, amount of time (or tries) one should expect when dealing with this resource, etc.</em></p>
    <div style="width:600px">
      <div class="errorExplanation">
        <h4>There are serious errors in your form submission, please see below for details.</h4>
        <ol>

        </ol>
      </div>

      <% form_for :experience, :url => resource_steps_path(:id => @resource, :step => "4"), :html => {:id => "form_experience"}  do |f| %>
        <fieldset class="steps">
          <div>
            Please provide a one-line title for this experience:<br>
            <%= f.text_field  :title, :class => "text required", :size => "45" %>
          </div>
          <div>
            Please provide an overview of your experience:<br>
            <%= f.text_area :comment, :style => "width:600px", :rows => "10", :maxlength => "1000" %>
          </div>
          <div style="overflow:hidden;">
            <div style="float:left">Would you recommend this resource to others?</div>
            <div style="float:right">
              <%= f.select :would_recommend, ["Yes! You Need This", "Worth Researching", "Depends on Situation", "No!  Avoid Them"], {:include_blank => true}, {:class => "ui-large"} %>
            </div>
          </div>

          <div class="submit">
            <%= submit_tag  'Submit', :class => "ui-large" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</center>


<script language="javascript">
  $(document).ready(function(){

    // flash the title so they know its a new page
    $('h1').highlight(3000);

    $('#experience_title').focus();

    var container = $('div.errorExplanation');
    $('div.errorExplanation').hide();
    $('form').validate({
      errorContainer: container,
      errorLabelContainer: $("ol", container),
      wrapper: 'li',
      rules:  {
        'experience[title]': {
          required: true,
          minlength: 10,
          maxlength: 80
        },
        'experience[comment]': {
          required: true,
          minlength: 20,
          maxlength: 1000
        },
        'experience[would_recommend]': 'required'
      },
    messages: {
      'experience[title]': {
        required: 'The title is a required field',
        minlength: 'Please write a little more of a one-line title'
      },
      'experience[comment]': {
        required: 'The overview is required',
        minlength: 'Please write a bit more of an overview'
      },
      'experience[would_recommend]': {
        required: 'Please let us know if you would recommend this resource to others'
      }
    }
  });

  var countdown = {
    init: function() {
      countdown.remaining = countdown.max - $(countdown.obj).val().length;
      if (countdown.remaining > countdown.max) {
        $(countdown.obj).val($(countdown.obj).val().substring(0,countdown.max));
      }
      $(countdown.obj).siblings(".remaining").html(countdown.remaining + " characters remaining.");
    },
    max: null,
    remaining: null,
    obj: null
  };

  $("#experience_comment").each(function() {
    $(this).focus(function() {
      countdown.max = this.getAttribute("maxlength")
      countdown.obj = this;
      iCount = setInterval(countdown.init,100);
    }).blur(function() {
      countdown.init();
      clearInterval(iCount);
    });
  });


});


</script>