<center>
  <div style="width:600px;text-align:left">
    <h1>Add Resource - Summary</h1>
    <h2><%= "#{@resource.listing.title} <span style='color:black'>+</span> #{@current_profile.disease.name}" %></h2>

    <p>
      The following resource has been added to HelpIsHere.org.  Thank you for sharing and making everyone
      touched by <%= @current_profile.disease.name %> lives a little easier.
    </p>

    <fieldset>
      <legend>Basic Information</legend>
      <table border="0" cellpadding="4">
        <tr>
          <td>
            <img src="http://maps.google.com/staticmap?center=<%= "#{@resource.listing.latitude},#{@resource.listing.longitude}" %>&zoom=10&size=200x200&maptype=mobile\
                 &markers=<%= "#{@resource.listing.latitude},#{@resource.listing.longitude}" %>&key=<%= GOOGLE_MAPS_KEY %>&sensor=false" alt="Map">
          </td>
          <td>
            <p><b><%= @resource.listing.title %></b></p>

            <p><%= @resource.listing.address %><br>
              <%= "#{@resource.listing.city} #{@resource.listing.state}" %>
              <%= "#{@resource.listing.postalcode}" if !@resource.listing.postalcode.nil? %><br>
              <%= @resource.listing.country %>
            </p>

            <p><%= @resource.listing.phone %></p>

            <p><%= link_to  @resource.listing.website,@resource.listing.website,:target => "_blank" %></p>
          </td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Overview</legend>
      <%= @resource.overview %>
    </fieldset>

    <fieldset>
      <legend>Experiences</legend>
      <% for experience in @resource.experiences.find(:all) %>
        <p><b><%= experience.title %></b></p>
        <p><%= experience.comment %></p>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Details</legend>
      <p>Who pays for <%= @resource.listing.title %> for <%= @current_profile.disease.name %>? <b><%= @resource.who_pays %></b></p>
      <p>How much does it cost? <b><%= "$ #{@resource.cost}" unless @resource.cost == 0 %><%= "Nothing. It's FREE!!" unless @resource.cost != 0 %></b></p>
      <p>What services are offered?</p>
      <ul style="font-weight:bold">
        <% for cat in @resource.categories %>
          <%= "<li>#{cat.title}</li>" %>
        <% end %>
      </ul>
    </fieldset>



  </div>
</center>

