<center>
  <div style="width:600px;text-align:left">
    <h1>Add Resource - Details</h1>
    <h2><%= "#{@resource.listing.title} <span style='color:black'>+</span> #{@current_profile.disease.name}" %></h2>
    <p>Lastly, we need a few details regarding <%= @resource.listing.title %> to better help others dealing with
    <%= @current_profile.disease.name %>.</p>
    <div class="errorExplanation">
      <h4>There are serious errors in your form submission, please see below for details.</h4>
      <ol>

      </ol>
    </div>
    <% form_for @resource, :url => resource_steps_path(:id => @resource, :step => "5"), :html => {:id => "form_details"}  do |f| %>
      <fieldset class="steps">
        <div>
          Who pays for the services provided by <%= @resource.listing.title %>?
          <div style="text-align:center;margin-top:10px">
            <%= f.select :who_pays, ["You do", "They do", "Insurance", "Government", "Various Charities", "No Cost", "Other"], {:include_blank => true}, {:class => "ui-large", :style => "font-size:16pt"} %>
          </div>
        </div>
        <div id="div_cost">
          How much does it cost?
          $ <%= f.text_field :cost, :class => "text ui-large", :size => "5" %>
          <input type="checkbox" id="cbfree"><label for="cbfree" style="font-weight:normal;">Free?</label>
        </div>
        <div>
          What type of services does <%= @resource.listing.title %> provide?
          <div style="font-weight:normal">
            <% i = 0 %>
            <table>
              <% for category in @categories do %>
                  <%= "<tr>" if i % 3 == 0  %>
                  <td><%= check_box_tag "resource[category_ids][]", category.id, @resource.categories.include?(category) %><%= label_tag "checkbox[#{category.id}]", category.title %></td>
                  <%= "</tr>" if i % 2 == 3  %>
                  <% i += 1 %>
                <% end %>
              </table>
            </div>
          </div>
          <div class="submit">
            <%= submit_tag  'Submit', :class => "ui-large" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </center>

  <script language="javascript">
    $(document).ready(function(){

      // flash the title so they know its a new page
      $('h1').highlight(3000);
      if ($('#resource_who_pays').val()=='') $('#div_cost').hide()

      $('#cbfree').change(function(){
        if ($(this).attr('checked')) {
          $('#resource_cost').attr('value','0')
        }
      })

       $('#resource_cost').keypress(function(){
         if ($(this).val()!=0)
           $('#cbfree').attr('checked',false)
       })

      $('#resource_who_pays').change(function(){
        if($('this').val()!='')
          $('#div_cost').show().focus().highlight(2000);

          if($('this').val()=='No Cost') {
            $('#cbfree').attr('checked',true)
            $('#resource_cost').attr('value','0')
          }
      })

      var container = $('div.errorExplanation');
      $('div.errorExplanation').hide();
      $('#form_details').validate({
        errorContainer: container,
        errorLabelContainer: $("ol", container),
        wrapper: 'li',
        rules:  {
          'resource[who_pays]': {
            required: true
          },
          'resource[cost]': {
            number: true
          }
        },
        messages: {
          'resource[who_pays]': {
            required: 'Please let us know who pays for this resource'
          },
          'resource[cost]': {
            number: 'Cost must be a number without the $'
          }
        }
      })


  });


  </script>